.responsive-state {
    display:none;
    width: 10000px;
}

@media (max-width: 767px) {

    .responsive-state {
        width: 767px;
    }

    .hidden-xs {
        display: none !important;
    }
    tr.hidden-xs {
        display: none !important;
    }
    th.hidden-xs,
    td.hidden-xs {
        display: none !important;
    }
    header .hdr-btn {
        margin-right: 75px;
    }
    .navbar-header .navbar-toggle {
        margin-top: 7px;
    }
    #banner_carousel.carousel .item {
 		height: 290px;
	}
    #banner_carousel .carousel-caption h1 {
		font-size: 36px;
	}
	#banner_carousel .carousel-caption {
 		z-index: 10;
  		bottom: 15px;
	}

}

@media (min-width: 768px) and (max-width: 979px) {
    .responsive-state {
        width: 979px;
    }
    .tabs-left {
        text-align: left;
    }
    #banner_carousel .carousel-caption h1 {
		font-size: 66px;
	}
}

@media (min-width: 980px) {
    .responsive-state {
        width: 980px;
    }
}

@media screen and (min-width: 768px) {
.carousel-caption {
	right: 10%;
	left: 10%;
	}
}