<template name="banner_carousel">
    <div id="banner_carousel" class="carousel slide">
     <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#banner_carousel" data-slide-to="0" class="active"></li>
            <li data-target="#banner_carousel" data-slide-to="1"></li>
            <li data-target="#banner_carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active" id="banner1">
                <div class="container">
                    <div class="carousel-caption">
                    <h1>Three Electrical Engineers</h1>
                    <p>Brewing craft beer is an art, but it’s also a science.</p>
                        <p><a class="btn btn-lg btn-primary " href="/who">Learn More</a>
                    </p></div>
                </div>
            </div>
            <div class="item" id="banner2">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Hard-Wired to Brew Beer</h1>
                        <p>We take pride in sharing our brewing process and keeping our recipes open source.</p>
                        <p><a class="btn btn-large btn-primary" href="/beers">View Our Beer</a></p>
                    </div>
              </div>
            </div>
            <div class="item" id="banner3">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Join the Resistance</h1>
                        <p>Our taproom in Lowertown Saint Paul opens in Spring 2014.</p>
                        <p><a class="btn btn-large btn-primary" href="https://maps.google.com/maps?q=125+E+9th+St,+St+Paul,+MN&hl=en&ll=44.950616,-93.09411&spn=0.006325,0.010149&sll=44.952861,-93.089151&sspn=0.012649,0.021908&oq=12&t=h&gl=us&hnear=125+E+9th+St,+St+Paul,+Minnesota+55101&z=17" target="_blank">Get Directions</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#banner_carousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#banner_carousel" data-slide="next">
            <span class="icon-next"></span>
        </a>  
    </div>
</template>

<template name="banner">
    <div id="banner" class="{{title}} ">

        {{#if pageIs 'home'}}
            <div class="col-sm-12 banner_lr_fill">
                    <img class="center img-responsive" src="/assets/banner-short-circuit-stout-temp.jpg">
            </div>

            <!-- <a href="/beers/short-circuit"><img src="/assets/blank.png" class="banner-link-image"/></a> -->
        {{/if}}
        {{#if pageIs 'general'}}
        {{/if}}
        {{#if pageIs 'who'}}
        {{/if}}
        {{#if pageIs 'where'}}
            <a href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=1151+County+Road+B+West,+Roseville,+MN&aq=0&oq=1151+county+&sll=45.006746,-93.14857&sspn=0.02127,0.045447&vpsrc=6&ie=UTF8&hq=&hnear=1151+County+Road+B+W,+Roseville,+Minnesota+55113&ll=45.005897,-93.152905&spn=0.02127,0.045447&t=m&z=15&iwloc=A"><img src="/assets/blank.png" class="banner-link-image"/></a>

        {{/if}}
        {{#if pageIs 'beers'}}
            <ul>
                <li id="short-circuit"><a class="beer-link" href="/beers/short-circuit">Short Circuit Stout</a></li>
                <li id="flip-switch"><a class="beer-link" href="/beers/flip-switch">Flip Switch IPA</a></li>
                <li id="wheatstone"><a class="beer-link" href="/beers/wheatstone">Wheatstone Bridge</a></li>
                <li id="schottky"><a class="beer-link" href="/beers/schottky">Schottky Pumpkin Ale</a></li>
                <li id="ampere"><a class="beer-link" href="/beers/ampere">Ampere Biere De Garde</a></li>
            </ul>
        {{/if}}
    </div>
    <!-- {{banner}} -->
</template>