<template name="banner_carousel">
    <div id="banner_carousel" class="carousel slide">
     <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#banner_carousel" data-slide-to="0" class="active"></li>
            <li data-target="#banner_carousel" data-slide-to="1"></li>
            <li data-target="#banner_carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active" id="banner1">
                <div class="container">
                    <div class="carousel-caption">
                    <h1>Three Electrical Engineers</h1>
                    <p>Brewing craft beer is an art, but it’s also a science.</p>
                        <p><a class="btn btn-lg btn-primary" href="/who">About Us</a>
                    </p></div>
                </div>
            </div>
            <div class="item" id="banner2">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Hard-Wired to Brew Beer</h1>
                        <p>We take pride in sharing our brewing process and keeping our recipes open source.</p>
                        <p><a class="btn btn-lg btn-primary" href="/beers">View Our Beer</a></p>
                    </div>
              </div>
            </div>
            <div class="item" id="banner3">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Join the Resistance</h1>
                        <p>Our taproom in Lowertown Saint Paul opens in Spring 2014.</p>
                        <p><a class="btn btn-lg btn-primary" href="/where">View Taproom</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#banner_carousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#banner_carousel" data-slide="next">
            <span class="icon-next"></span>
        </a>  
    </div>
</template>

<template name="banner">
    <div id="banner" class="{{title}} ">
        {{! banner filled with css}}
    </div>
</template>