<template name="footer">
    <footer id="footer">
        <div class="container">
            <div id="footer-primaryNav">
                <ul>
                    <li>
                        <a href="/beers">Beer Specifications</a>
                    </li>
                    <li>
                        <a href="/news">News &amp; Updates</a>
                    </li>
                    <li>
                        <a href="/who">Who Are We?</a>
                    </li>
                    <li>
                        <a href="/where">Where to Find Us</a>
                    </li>
                </ul>
            </div>
            <div id="footer-contact">
                <img src="/assets/tin-whiskers-logo-footer.png" alt="Tin    Whiskers Brewing Co." />
                <p>&copy; Tin Whiskers Brewing Company</p>
                <p>1151 County Road B West, Roseville, Minnesota 55113</p>
            </div>
    
            <div id="footer-secondary-nav">
                <ul>
                    <li>
                        <a href="/blw">Protobrew Wiki</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/TinWhiskersBrewingCo">On Facebook</a>
                    </li>
                    <li>
                        <a href="http://instagram.com/tinwhiskersbrew">Instagram</a>
                    </li>
                    <li>
                        <a href="mailto:robot@tinwhiskersbrewing.com">  Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>
</template>