<template name="footer">
    <footer id="footer">
        <div class="container">
            <div id="footer-primaryNav" class="col-sm-12 col-md-3">
                <ul>
                    <li>
                        <a href="/beers">Beer Specifications</a>
                    </li>
                    <li>
                        <a href="/blog">News &amp; Updates</a>
                    </li>
                    <li>
                        <a href="/who">Who Are We?</a>
                    </li>
                    <li>
                        <a href="/where">Where to Find Us</a>
                    </li>
                    <li>
                        <a href="/taproom_rental">Taproom Rental</a>
                    </li>
                </ul>
            </div>
            <div id="footer-contact" class="col-sm-12 col-md-6">
                <img src="/assets/tin-whiskers-logo-footer.png" alt="Tin    Whiskers Brewing Co." />
                <p>&copy; Tin Whiskers Brewing Company, 2013</p>
                <p>125 E 9th St, St. Paul, Minnesota 55101</p>
                <p><small>Unit 127</small></p>
                <p> (651) 330-4734 </p>
            </div>
    
            <div id="footer-secondary-nav" class="col-sm-12 col-md-3">
                <ul>
                    <li>
                        <a href="/sign-in">Sign-In</a>
                    </li>
                    <li>
                        <a href="/sign-out">Sign-Out</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/TinWhiskersBrewingCo">On Facebook</a>
                    </li>
                    <li>
                        <a href="http://instagram.com/tinwhiskersbrew">Instagram</a>
                    </li>
                    <li>
                        <a href="/contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</template>