<template name="lower">
    <div id="lower">
        <div id="beer-circles" class="row">
            <div id="beer-background">
                <div>
                    <ul>
                        <li id="short-circuit"><a class="beer-link" href="/beers/short-circuit">Short Circuit Stout</a></li>
                        <li id="flip-switch"><a class="beer-link" href="/beers/flip-switch">Flip Switch IPA</a></li>
                        <li id="wheatstone"><a class="beer-link" href="/beers/wheatstone">Wheatstone Bridge</a></li>
                        <li id="schottky"><a class="beer-link" href="/beers/schottky">Schottky Pumpkin Ale</a></li>
                        <li id="ampere"><a class="beer-link" href="/beers/ampere">Ampere Biere De Garde</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="lower-nav" class="container">

            <ul>
                <li class="col-sm-4">
                    <div id="connect-twitter">
                        <h2>Connect on <span class="darker">Twitter</span></h2>
                        <div id="connect-on-twitter">
                                <a class="twitter-timeline" href="https://twitter.com/TinWhiskersBrew" data-widget-id="384949241027637248"> Twitter Action</a>
                        </div>
                    </div>
                </li>
<!--                <li class="col-sm-1">
                    <img class="v-div" src="/assets/v-divider.png" alt="" />
                </li> -->
                <li class="col-sm-4">
                    <div id="connect-for-realz">
                        <h2>Connect in Real Life</h2>
                            <div id="connect-for-real">
                            <a href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=1151+County+Road+B+West,+Roseville,+MN&aq=0&oq=1151+county+&sll=45.006746,-93.14857&sspn=0.02127,0.045447&vpsrc=6&ie=UTF8&hq=&hnear=1151+County+Road+B+W,+Roseville,+Minnesota+55113&ll=45.005897,-93.152905&spn=0.02127,0.045447&t=m&z=15&iwloc=A">
                                <img src="/assets/at-our-brewery.png" alt="At Our Brewery" />
                            </a>
                        </div>
                    </div> 
                </li>
<!--                 <li class="col-sm-1">
                    <img class="v-div" src="/assets/v-divider.png" alt="" />
                </li> -->
                <li class="col-sm-4">
                    <div id="connect-other">
                        <h2>Other Ways to <span class="darker">Connect</span></h2>
                        <div>
                            <ul>
                                <li class="blw">
                                    <a href="/blw">
                                        <span class="h2">Protobrew Wiki</span>
                                        <div class="sub">Recipes &amp; Resources for home/pro brewers</div>
                                    </a>
                                </li>
                                <li class="facebook">
                                    <a href="https://www.facebook.com/TinWhiskersBrewingCo">
                                        <span class="h2">Facebook</span>
                                        <div class="sub">News and Events for Tin Whisker fans</div>
                                    </a>
                                </li>
                                <li class="instagram">
                                    <a href="http://instagram.com/tinwhiskersbrew">
                                        <span class="h2">Instagram</span>
                                        <div class="sub">Delicious pictures of drinkables</div>
                                    </a>
                                </li>
                                <li class="contact">
                                    <a href="mailto:robot@tinwhiskersbrewing.com">
                                        <span class="h2">Contact Us</span>
                                        <div class="sub">Questions &amp; Feedback is welcome</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> 
                </li>
            </ul>
        </div>
    </div>
</template>