<template name="lower">
    <div id="lower">
        <div id="beers" class="row">
            <div id="beer-background">
                <div>
                    <ul>
                        <li id="short-circuit"><a class="beer-link" href="/beers/short-circuit">Short Circuit Stout</a></li>
                        <li id="flip-switch"><a class="beer-link" href="/beers/flip-switch">Flip Switch IPA</a></li>
                        <li id="wheatstone"><a class="beer-link" href="/beers/wheatstone">Wheatstone Bridge</a></li>
                        <li id="schottky"><a class="beer-link" href="/beers/schottky">Schottky Pumpkin Ale</a></li>
                        <li id="ampere"><a class="beer-link" href="/beers/ampere">Ampere Biere De Garde</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="lower-nav" class="container">

            <ul>
                <li class="col-md-4">
                   	<div  id="connect-on-twitter">
                        <h2>Connect on <span class="darker">Twitter</span></h2>
                        <div class="wrapper">
                                <a class="twitter-timeline" width="800" height="335" href="https://twitter.com/TinWhiskersBrew" data-widget-id="384949241027637248" data-link-color="#9c1923"> Twitter Action</a>
                        </div>
                    </div>
                </li>
<!--                <li class="col-sm-1">
                    <img class="v-div" src="/assets/v-divider.png" alt="" />
                </li> -->
                <li class="col-md-4">
                   <div id="connect-taproom">
                        <h2>Connect in Real Life</h2>
                            <div class="wrapper">
                            	<div id="taproom-map"></div>
                            <h3>Our Taproom</h3>
                            <p>We're currently building our taproom at the Rossmor building in Downtown Saint Paul.</p>
                            <p><a class="btn btn-primary" href="https://maps.google.com/maps?q=125+E+9th+St,+St+Paul,+MN&hl=en&ll=44.950616,-93.09411&spn=0.006325,0.010149&sll=44.952861,-93.089151&sspn=0.012649,0.021908&oq=12&t=h&gl=us&hnear=125+E+9th+St,+St+Paul,+Minnesota+55101&z=17" target="_blank">Get Directions</a></p>
                       	 	</div>    
                        </div>
                   
                </li>
<!--                 <li class="col-sm-1">
                    <img class="v-div" src="/assets/v-divider.png" alt="" />
                </li> -->
                <li class="col-md-4">
                    <div id="connect-other">
                        <h2>Other Ways to <span class="darker">Connect</span></h2>
                        <div class="wrapper">
                            <ul>
                                <li class="blw">
                                    <a href="/blw">
                                        <span class="h2">Protobrew Wiki</span>
                                        <div class="sub">Recipes &amp; Resources for home/pro brewers</div>
                                    </a>
                                </li>
                                <li class="facebook">
                                    <a href="https://www.facebook.com/TinWhiskersBrewingCo">
                                        <span class="h2">Facebook</span>
                                        <div class="sub">News and Events for Tin Whisker fans</div>
                                    </a>
                                </li>
                                <li class="instagram">
                                    <a href="http://instagram.com/tinwhiskersbrew">
                                        <span class="h2">Instagram</span>
                                        <div class="sub">Delicious pictures of drinkables</div>
                                    </a>
                                </li>
                                <li class="contact">
                                    <a href="mailto:robot@tinwhiskersbrewing.com">
                                        <span class="h2">Contact Us</span>
                                        <div class="sub">Questions &amp; Feedback is welcome</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>