<template name="primaryNav">

    <div id="primaryNav" class="collapse tw-navbar-collapse">
        <div class="container">
            <ul class="col-sm-12">
                <li class="col-sm-2">
                    <a id="nav-beers" class="navtext" href="/beers">
                        <div class="big">Beer</div>
                        <div class="little">Specifications</div>
                    </a>
                </li>
<!--                 <li class="col-sm-2">
                    <a id="nav-news" class="navtext" href="/news">
                        <div class="big">News</div>
                        <div class="little">&amp; Updates</div>
                    </a>
                </li> -->

                <li class="col-sm-2">
                    <a id="nav-blog" class="navtext" href="/blog">
                        <div class="big">Blog</div>
                        <div class="little">&amp; News</div>
                    </a>
                </li>
                <li class="col-sm-4 hidden-xs">
                    <div id="logo-cog" class="text-center">
                        {{#if themeBright}}
                            <a href="/">
                                <img src="/assets/logo-cog.png" alt="Tin Whiskers Brewing">
                            </a>
                        {{else}}
                            <a href="/">
                                <img src="/assets/logo-badge.svg" alt="Tin Whiskers Brewing">
                            </a>
                        {{/if}}
                    </div>
                </li>
                <li class="col-sm-2">
                    <a id="nav-who" class="navtext" href="/who">
                        <div class="big">Who</div>
                        <div class="little">Are We?</div>
                    </a>
                </li>
                <li class="col-sm-2">
                    <a id="nav-where" class="navtext" href="/where">
                        <div class="big">Where</div>
                        <div class="little">To Find Us</div>
                    </a>
                </li>
<!--                 <li class="col-xs-12 visible-xs">
                    <a href="/blw" class="navtext">
                        <div class="big">Protobrew</div>
                        <div class="little">Wiki</div>
                    </a>
                </li> -->
               <li class="col-xs-12 visible-xs">
                    <a href="/contact" class="navtext">
                        <div class="big">Contact Us</div>
                        <div class="little">You Know You Want To</div>
                    </a>
                </li>
<!--                <li class="col-xs-12 visible-xs">
                    <a href="/store" class="navtext">
                        <div class="big">The Store</div>
                        <div class="little">With Sweet Gear</div>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>

</template>