<template name="subscribeInput">
    <h2>Join Our Mailing List</h2>
    <div class="form-group">
        <label class="control-label" for="subscribe-email-input">Email address</label>
        <input type="email" class="form-control" id="subscribe-email-input" placeholder="Your email">
    </div>


    {{#if subscriptionSubmitted}}
        <button type="submit" class="btn btn-block btn-success btn-default" disabled="disabled">Submitted</button>
    {{else}}
        <button type="submit" id="subscribe-email-button" class="btn btn-block btn-default">Submit</button>
    {{/if}}
</template>